.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: 64px 1fr;
      grid-template-rows: 64px 1fr;
      grid-template-areas: "header header" "sidebar main";
  height: 100vh;
}

.grid-container .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background: #BDBDBD;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "logo options";
}

.grid-container .header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 16px;
}

.grid-container .header .options {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: options;
  padding-top: 10px;
}

.grid-container .header .options .career-site {
  width: 96px;
  height: 32px;
  padding: 4px;
  border-radius: 5px;
  background: #F2F2F2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #4F4F4F;
}

.grid-container .header .options .dot {
  vertical-align: middle;
  height: 25px;
  width: 25px;
  margin: 10px;
  background: white;
  border-radius: 50%;
  display: inline-block;
}

.grid-container .sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #394263;
  -ms-grid-columns: 112px 288px;
      grid-template-columns: 112px 288px;
      grid-template-areas: "first second";
}

.grid-container .sidebar .first-side {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
  background-color: antiquewhite;
  display: -ms-grid;
  display: grid;
  background: #828282;
  -ms-grid-rows: (88px)[6];
      grid-template-rows: repeat(6, 88px);
}

.grid-container .sidebar .first-side .item-first {
  margin-top: 16px;
  padding-bottom: 13px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #4F4F4F;
  color: white;
}

.grid-container .sidebar .first-side .item-first img {
  margin-bottom: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24px;
  height: 24px;
  background: #394263;
}

.grid-container .sidebar .second-side {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (56px)[4];
      grid-template-rows: repeat(4, 56px);
  padding-top: 16px;
}

.grid-container .sidebar .second-side .item-second {
  width: 100%;
  height: 56px;
  background: #ffffff;
}

.grid-container .sidebar .second-side .item-second img {
  padding-top: 15px;
  padding-right: 32px;
  padding-left: 32px;
  width: 24px;
  height: 24px;
}

.grid-container .main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  border-radius: 5px;
  margin: 24px 48px 40px 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 104px 1fr;
      grid-template-rows: 104px 1fr;
  grid-row-gap: 16px;
}

.grid-container .main .amount {
  width: 100%;
  height: 104px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}

.grid-container .main .amount .candicates {
  border-radius: 5px;
  background: #BDBDBD;
}

.grid-container .main .amount .candicates .candicates-content {
  text-align: center;
  padding-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #4F4F4F;
}

.grid-container .main .amount .candicates .candicates-content .count {
  font-size: 36px;
}

.grid-container .main .amount .jobs {
  border-radius: 5px;
  background: #BDBDBD;
}

.grid-container .main .amount .jobs .jobs-content {
  text-align: center;
  padding-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #4F4F4F;
}

.grid-container .main .amount .jobs .jobs-content .count {
  font-size: 36px;
}

.grid-container .main .graph {
  border-radius: 5px;
  background: #BDBDBD;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 6fr 1fr;
      grid-template-rows: 0.5fr 6fr 1fr;
}

.grid-container .main .graph .graph-header .header-line {
  width: 100%;
  height: 3px;
  background: #394263;
  margin-top: 56px;
}

.grid-container .main .graph .graph-header .graph-header-title {
  margin: 0 auto;
}

.grid-container .main .graph .graph-content {
  justify-items: center;
}

.grid-container .main .graph .graph-content .my-graph {
  height: 300px;
}

.grid-container .main .graph .graph-content .content-line {
  width: 100%;
  height: 3px;
  background: #394263;
  margin-top: 624px;
}

.grid-container .main .graph .graph-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container .main .graph .graph-footer .amount-email {
  border-right-style: solid;
  border-right-width: 1px;
}

.grid-container .main .graph .graph-footer .amount-email .email-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #4F4F4F;
}

.grid-container .main .graph .graph-footer .amount-email .email-amount {
  padding-left: 16px;
  font-size: 24px;
}

.grid-container .main .graph .graph-footer .amount-careersite {
  border-right-style: solid;
  border-right-width: 1px;
}

.grid-container .main .graph .graph-footer .amount-careersite .career-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #4F4F4F;
}

.grid-container .main .graph .graph-footer .amount-careersite .career-amount {
  padding-left: 16px;
  font-size: 24px;
}

.grid-container .main .graph .graph-footer .amount-manually {
  border-right-style: solid;
  border-right-width: 1px;
}

.grid-container .main .graph .graph-footer .amount-manually .manually-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #4F4F4F;
}

.grid-container .main .graph .graph-footer .amount-manually .manually-amount {
  padding-left: 16px;
  font-size: 24px;
}

.grid-container .main .graph .graph-footer .amount-sourced .sourced-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #4F4F4F;
}

.grid-container .main .graph .graph-footer .amount-sourced .sourced-amount {
  padding-left: 16px;
  font-size: 24px;
}
/*# sourceMappingURL=dashboard.css.map */