@mixin  default-font($font-size){
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: $font-size;
    color: #4F4F4F;
  }
  @mixin line($margin){
    width: 100%;
    height: 3px;
    background: #394263;
    margin-top: $margin;
  }
  
  $border-default : 5px;
  .grid-container{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 64px 1fr ;
    grid-template-areas:
      "header header"
      "sidebar main";
    height: 100vh;
    .header {
      display:grid;
      grid-area: header;
      background: #BDBDBD;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:"logo options"; 
    }
    
    .sidebar {
        display: grid;
        height: 100%;
        grid-area: sidebar;
        // background-color: #394263;
        grid-template-columns: 112px 288px;
        grid-template-areas: "first second";
        .first-side {
          grid-area: first;
          display: grid;
          background: #828282;
          grid-template-rows: repeat(6,88px); 
          .item-first {
            margin-top: 16px;
            padding-bottom: 13px;
            text-align: center;
            @include default-font(16px);
            color:white;
            img {
              margin-bottom: 13px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              width:  24px;
              height: 24px;
              background: #394263;
            }
          }
        }
        .second-side {
          grid-area: second;
          display: grid;
          grid-template-rows: repeat(4,56px);
          padding-top:16px; 
        }
      
    }
    .main {
      grid-area: main;
      border-radius: 5px;
      margin: 24px 48px 40px 48px;
      display: grid;
      grid-template-rows: 104px 1fr;
      grid-row-gap: 16px;
      .amount {
        width: 100%;
        height: 104px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        .candicates{
          border-radius: $border-default;
          background: #BDBDBD;
          .candicates-content{
            text-align: center;
            padding-top:25px;
            .count{
              font-size: 36px;
          }
               @include default-font(18px);
          }
        }
        .jobs{
          border-radius: $border-default;
          background: #BDBDBD;
          .jobs-content{
            text-align: center;
            padding-top:25px;
            .count{
              font-size: 36px;
          }
               @include default-font(18px);
          }
        }
      }
      .graph{
      
        border-radius: $border-default;
        background: #BDBDBD;
        display: grid;
        grid-template-rows: 0.5fr 6fr 1fr;
        .graph-header{
          .header-line {
            @include line(56px);
          }
          .graph-header-title{
             margin: 0 auto;
          }
        }
        .graph-content{
          justify-items: center;
          .my-graph{
            height: 300px;
          }
          .content-line{
          @include line(624px);
          }
        
        }
        .graph-footer{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
          .amount-email{
            border-right-style: solid;
            border-right-width: 1px;
            .email-title{
              padding-top:10px;
              padding-bottom: 10px;
              padding-left: 16px;
              @include default-font(16px);
             }
            .email-amount{
              padding-left: 16px;
            font-size: 24px;
            }
         }
          .amount-careersite{
            border-right-style: solid;
            border-right-width: 1px;
            .career-title{
              padding-top:10px;
              padding-bottom: 10px;
              padding-left: 16px;
              @include default-font(16px);
            }
            .career-amount{
              padding-left: 16px;
              font-size: 24px;
            }
          }
          .amount-manually{
            border-right-style: solid;
            border-right-width: 1px;
            .manually-title{
              padding-top:10px;
              padding-bottom: 10px;
              padding-left: 16px;
              @include default-font(16px);
          }
            .manually-amount{
            padding-left: 16px;
            font-size: 24px;
          }
          }
          .amount-sourced{
            .sourced-title{
              padding-top:10px;
              padding-bottom: 10px;
              padding-left: 16px;
              @include default-font(16px);
            }
            .sourced-amount{
              padding-left: 16px;
              font-size: 24px;
            }
          }
        }
  
      }
      
   
    }
  
  }
  