
ul {
   list-style-type: none;   
   cursor: pointer;
   width: 112px;
   height: 88.37px;
   display: inline inline-block;
}
.side-bar{
    .main-bar {
        li { 
            width: 112px;
            height: 88.37px;
            background-color: rgb(26, 17, 17);
            opacity: 0.8;
            text-align: right;  
        }
        li a {
                margin-top:30px;
                text-decoration: none;
            }
        }
    }        


.sub-bar {
    text-align: center;  
   // vertical-align: center;
    li {
        width: 288px;
        height: 56px;  
    }
    image {
        
    }
}
.blockTitle {
    
}